@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

:root {
  --bg-color: #f5f7fb;
  --card-bg: #ffffff;
  --text-color: #111827;
  --sub-text: #64748b;
  --sidebar-bg: #111827;
  --sidebar-text: #cbd5e1;
  --primary: #2563eb;
}

[data-theme="dark"] {
  --bg-color: #0f172a;
  --card-bg: #1e293b;
  --text-color: #f8fafc;
  --sub-text: #94a3b8;
  --sidebar-bg: #020617;
  --sidebar-text: #cbd5e1;
  --primary: #38bdf8;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}